.assigneeAvatar{
    /* width: 400px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center; */
}

.assigneeAvatar > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    aspect-ratio: 1 / 1;
}